<h2>Edit Character</h2>
<form action="/characters/<%= @character.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">
  <label>Name:</label>
  <input type="text" name="name" id="name"
    value="<%= @character.name %>"><br><br>
  
  <label for="class-select">Class:</label>
 <!-- <input type="text" name="character_class" id="character_class"
    value="<%= @character ? @character.character_class : "" %>"><br><br>
 --> 
  <select name= "character_class" id="class-select">
      <option value="<%= @character.character_class %>"><%= @character.character_class %></option>
      <option value="">--Please choose class--</option>
      <option value="Warrior">Warrior</option>
      <option value="Paladin">Paladin</option>
      <option value="Hunter">Hunter</option>
      <option value="Rogue">Rogue</option>
      <option value="Priest">Priest</option>
      <option value="Death Knight">Death Knight</option>
      <option value="Shaman">Shaman</option>
      <option value="Mage">Mage</option>
      <option value="Warlock">Warlock</option>
      <option value="Monk">Monk</option>
      <option value="Druid">Druid</option>
      <option value="Demon Hunter">Demon Hunter</option>
   </select>
  <br><br>
  
  <label for="race-select">Race:</label>
 <!-- <input type="text" name="race" id="race"
    value="<%= @character ? @character.race  : "" %>"><br><br>
 -->
   <select name="race" id="race-select">
    <option value="<%= @character.race %>"><%= @character.race %></option>
    <option value="">--Please choose race--</option>
    <option value="Human">Human</option>
    <option value="Dwarf">Dwarf</option>
    <option value="Night Elf">Night Elf</option>
    <option value="Gnome">Gnome</option>
    <option value="Draenei">Draenei</option>
    <option value="Worgen">Worgen</option>
    <option value="Pandaren">Pandaren</option>
    <option value="Orc">Orc</option>
    <option value="Undead">Undead</option>
    <option value="Tauren">Tauren</option>
    <option value="Troll">Troll</option>
    <option value="Blood Elf">Blood Elf</option>
    <option value="Goblin">Goblin</option>
  </select>
  <br><br>
  
  <input type="submit"><br><br>
  <a href="/logout">Log Out</a><br>
</form>