<% if flash.has?(:wrong_user) %>
  <%= flash[:wrong_user] %>
<% end %>

<% if flash.has?(:wrong_user_edit) %>
  <%= flash[:wrong_user_edit] %>
<% end %>

<h2>Welcome <%= @user.username %></h2>
<% @characters.each do |character| %>
  <h3><a href="/characters/<%= character.id %>"><%= character.name %></a>
<% end %>
<br>
<a href="/characters/new"><button>Create New Character</button></a><br>
<a href="/logout"><button>Log Out</button></a><br>

